@font-face {
  font-family: "Avenir Next Regular";
  src: url("../asset/font/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "Avenir Next Demi";
  src: url("../asset/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../asset/font/AvenirNextLTPro-Bold.otf");
}
