// Breakpoints
$tablet-bp: 768px;
$desktop-bp: 1200px;

//Font
$font-family-regular: "Avenir Next Regular";
$font-family-demi: "Avenir Next Demi";
$font-family-bold: "Avenir Next Bold";

//Color
$text-color: #ffffff;
